

.NavBarContainer{
    width: 100%;
    height: 48px;
    background-color: #333333;
}


/* For Smaller Screens */
@media only screen and (max-width: 766px) {


}


/* For Larger Screens */
@media only screen and (min-width: 767px) {
 
}